# Python
*.pyc
__pycache__/
.venv/
dist/
build/
*.spec

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
coverage.xml
*.cover

# Environment
.env
.env.*

# Logs
*.log
logs/

# OS specific
.DS_Store
Thumbs.db
